.download {
  text-align: center;
  padding: 114px 0;

  @include tablet {
    padding: 78px 0;
  }

  @include mobile {
    padding: 34.5px 20px 45px;
  }

  &__title {
    margin-bottom: 5.29px;
    padding: 17.5px 0;
    font-weight: 500;

    @include tablet {
      margin-bottom: 4.71px;
      padding: 17px 0;
      font-size: rem(24px);
      line-height: rem(28px);
    }

    @include mobile {
      margin-bottom: 3px;
      padding: 16px 0;
      font-size: rem(18px);
      line-height: rem(21px);
    }
  }

  &__subtitle {
    margin-bottom: 50px;
    font-weight: 700;
    text-transform: uppercase;

    @include tablet {
      margin-bottom: 45.71px;
      font-size: rem(14px);
      line-height: rem(16px);
    }

    @include mobile {
      margin-bottom: 13.42px;
      font-size: rem(13px);
      line-height: rem(15px);
    }
  }

  &__button {
    @include button;
  }
}
